<!-- <app-the></app-the>
<app-server></app-server>
<router-outlet></router-outlet>
<app-parent></app-parent> -->
<!-- <h1>{{ 'Hello Angular!' | cspipe }}</h1> -->
 <!-- <app-server></app-server>  -->
<!-- <app-the></app-the> -->
<!-- <app-my-counter></app-my-counter>
<app-test1></app-test1>
<app-test2></app-test2> -->
<!-- <app-tmr></app-tmr> 
<app-tmr></app-tmr> -->
<!-- <app-parent></app-parent> -->

<!-- <app-max></app-max> 
<app-timer-component></app-timer-component> -->
<app-voice-to-text></app-voice-to-text>